.selected{
  background: black !important;
  color: white;
}
.parent{
display: flex;
}

.movies{
background: aqua;
  padding: 0.5em 1em 0.5em 1.5em;
  margin: 1em;
  max-width: 18em;
;
}
.movieListitem{
  font-size: 0.85em;
  font-family: "Times New Roman";
background: fuchsia;
  padding: 0.3em;
  margin: 0.2em ;
  text-align: left;


}

